.Numbers {
    /* margin: 1rem; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.NumberButton {
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 25%;
    width: 7.7rem;
    /* height: 7rem; */
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
}
